---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: white;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

body {
    color: $theme-primary;
    background-color: black;
}

body.post {
    background-color: white;
    color: black;
}

.navbar-default {
    background-color: black;
}

header {
    height: 100%;
    .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
        .header-content-inner {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            p {
                font-size: 18px;
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.btn-xl {
    padding: 15px 10px;
}

header {
    background-image: url('../img/header_vertical.png');
    @media (min-width: 768px) {
    background-image: url('../img/header.jpg');
    }
}

p.footer_text {
    color: $theme-primary;
    @include sans-serif-font;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.navbar-fixed-bottom {
    padding-top: 5px;
}

.navbar-static-bottom {
    padding-top: 5px;
}

.header-content-inner {
    img.logo_square {
        width: 50px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.logo_wide {
        width: 74px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 90% 10px 1fr 1fr;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 10px 60% 10px 1fr 1fr;
    }
    align-items: center;
    margin-top: 20px
}

.post-container > * {
    grid-column: 4;
}

.post-container > image-full {
    grid-column: 1 / -1;
    img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-container > image-mid {
    grid-column: 2 / -2;
    img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
