<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SZKOŁA PARTYZANTÓW</h1>
            <hr>
            <a href="https://www.youtube.com/user/SzkolaPartyzantow">
                <img class="logo_wide" src="../img/yt_logo.png">
            </a>
            <a href="https://www.instagram.com/szkola_partyzantow/">
                <img class="logo_square" src="../img/ig_logo.png">
            </a>
            <a href="https://www.facebook.com/szkola.partyzantow">
                <img class="logo_square" src="../img/fb_logo.png">
            </a>
        </div>
    </div>
</header>
