<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="logo-main" src="/img/SZKP_logo.png">
            <h1>SZKOŁA PARTYZANTÓW</h1>
            <h1 style="margin-top: 50px;"><a href="/merch" style="color: #03fc03; text-decoration: underline;">SPRAWDŹ DROP NAKLEJEK!</a></h1>
            <hr>
            <a href="https://www.youtube.com/user/SzkolaPartyzantow">
                <img class="logo-wide" src="/img/yt_logo.png">
            </a>
            <a href="https://www.instagram.com/szkola_partyzantow/">
                <img class="logo-square" src="/img/ig_logo.png">
            </a>
            <a href="https://www.facebook.com/szkola.partyzantow">
                <img class="logo-square" src="/img/fb_logo.png">
            </a>
        </div>
        <div class="header-content-inner">
            <a href="https://patronite.pl/szkola_partyzantow"><h1 style="margin-right: 0.8em; margin-top:0.5em"><img class="logo-patronite" src="/img/patronite_logo.png"> Patronite</h1></a>
        </div>
    </div>
</header>
